@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --gpt: #412991;
    --gemini: #8e75b2;
    --claude: #d97757;
    --deepseek: #5570ff;
    --gpt-secondary: #412991c7;
    --gemini-secondary: #8e75b2b9;
    --claude-secondary: #d97857a8;
    --deepseek-secondary: #7b90f7;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --gpt: #412991;
    --gemini: #8e75b2;
    --claude: #d97757;
    --deepseek: #5570ff;
    --gpt-secondary: #41299196;
    --gemini-secondary: #8e75b298;
    --claude-secondary: #d97757a4;
    --deepseek-secondary: #25399a;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* scroll */

/* 垂直スクロールバー */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

/* 垂直スクロールバーのトラック */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 垂直スクロールバーのスクロール部分 */
::-webkit-scrollbar-thumb {
  background: hsl(var(--card-foreground));
  border-radius: 20px;
}

/* 横スクロールバー */
::-webkit-scrollbar-x {
  width: 1px;
  height: 1px;
}

/* 横スクロールバーのトラック */
::-webkit-scrollbar-x-track {
  background: transparent;
}

/* 横スクロールバーのスクロール部分 */
::-webkit-scrollbar-x-thumb {
  background: hsl(var(--card-foreground));
  border-radius: 20px;
}

.rdp-vhidden {
  @apply hidden;
}

.ai-message {
  font-size: 16px;
  line-height: 1.6;
  border-radius: 8px;
  overflow-wrap: break-word;
}

/* Headers */
.ai-message h1 {
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 4px;
}

.ai-message h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 4px;
}

.ai-message h3 {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 4px;
}

/* Paragraphs and Text */
.ai-message p {
  margin-bottom: 8px;
}

/* Links */
.ai-message a {
  color: #3182ce;
  text-decoration: none;
}

.ai-message a:hover {
  text-decoration: underline;
}

/* Code blocks */
.ai-message pre {
  border: 1px solid hsl(var(--muted-foreground));
  background: #09090b;
  color: #fafafa;
  border-radius: 0.5rem;
  padding: 12px;
  overflow-x: auto;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 8px;
}

.ai-message code {
  border-radius: 4px;
  padding: 2px 4px;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.95em;
}

/* Lists */
.ai-message ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-bottom: 8px;
}

.ai-message ol {
  list-style-type: decimal;
  padding-left: 20px;
  margin-bottom: 8px;
}

.ai-message li {
  margin-bottom: 8px;
}

/* Blockquotes */
.ai-message blockquote {
  border-left: 4px solid #3182ce;
  padding-left: 12px;
  margin-left: 0;
  color: #4a5568;

  font-style: italic;
}

/* Tables */
.ai-message table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 8px;
}

.ai-message th,
.ai-message td {
  border: 1px solid hsl(var(--primary));
  padding: 8px;
  text-align: left;
}

.ai-message th {
  border: 1px solid hsl(var(--primary));
  font-weight: bold;
}
